

<!DOCTYPE html>
<html>
	<head>
		 {% load staticfiles %}
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>{% block title %} Flicks {% endblock %}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	    <link rel="stylesheet" href="{% static 'ticket.css' %}">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	</head>
	<body>
	<h4 class = "display">Hall ¹ 1</h4>
		<div>
			<form method="post" action="{% url 'buy_place'}">
				{% csrf_token %}
			<table>
				<tbody>
					<tr>
						<td>1 ðÿä</td>
						<td></td>
						<td></td>
						<td>Ï</td>
						<td><input type="radio" id="1-1" class="btn btn" name="buy_place" value="1 1 True">1</input></td>
						<td><button type="radio" id="1-2" class="btn btn" name="buy_place" value="1 2 True">2</button></td>
						<td><button type="radio" id="1-3" class="btn btn" name="buy_place" value="1 3 True">3</button></td>
						<td><button type="radio" id="1-4" class="btn btn" name="buy_place" value="1 4 True">4</button></td>
						<td><button type="radio" id="1-5" class="btn btn" name="buy_place" value="1 5 True">5</button></td>
						<td><button type="radio" id="1-6" class="btn btn" name="buy_place" value="1 6 True">6</button></td>
						<td><button type="radio" id="1-7" class="btn btn" name="buy_place" value="1 7 True">7</button></td>
						<td><button type="radio" id="1-8" class="btn btn" name="buy_place" value="1 8 True">8</button></td>
						<td><input type="submit" value="Оценить"><td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>2 ðÿä</td>
						<td></td>
						<td></td>
						<td>Ð</td>
						<td><button type="button" id="2-1" class="btn btn">1</button></td>
						<td><button type="button" id="2-2" class="btn btn">2</button></td>
						<td><button type="button" id="2-3" class="btn btn">3</button></td>
						<td><button type="button" id="2-4" class="btn btn">4</button></td>
						<td><button type="button" id="2-5" class="btn btn">5</button></td>
						<td><button type="button" id="2-6" class="btn btn">6</button></td>
						<td><button type="button" id="2-7" class="btn btn">7</button></td>
						<td><button type="button" id="2-8" class="btn btn">8</button></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>3 ðÿä</td>
						<td></td>
						<td></td>
						<td>Î</td>
						<td><button type="button" id="3-1" class="btn btn">1</button></td>
						<td><button type="button" id="3-2" class="btn btn">2</button></td>
						<td><button type="button" id="3-3" class="btn btn">3</button></td>
						<td><button type="button" id="3-4" class="btn btn">4</button></td>
						<td><button type="button" id="3-5" class="btn btn">5</button></td>
						<td><button type="button" id="3-6" class="btn btn">6</button></td>
						<td><button type="button" id="3-7" class="btn btn">7</button></td>
						<td><button type="button" id="3-8" class="btn btn">8</button></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>4 ðÿä</td>
						<td></td>
						<td></td>
						<td>Õ</td>
						<td><button type="button" id="4-1" class="btn btn">1</button></td>
						<td><button type="button" id="4-2" class="btn btn">2</button></td>
						<td><button type="button" id="4-3" class="btn btn">3</button></td>
						<td><button type="button" id="4-4" class="btn btn">4</button></td>
						<td><button type="button" id="4-5" class="btn btn">5</button></td>
						<td><button type="button" id="4-6" class="btn btn">6</button></td>
						<td><button type="button" id="4-7" class="btn btn">7</button></td>
						<td><button type="button" id="4-8" class="btn btn">8</button></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>5 ðÿä</td>
						<td></td>
						<td></td>
						<td>Î</td>
						<td><button type="button" id="5-1" class="btn btn">1</button></td>
						<td><button type="button" id="5-2" class="btn btn">2</button></td>
						<td><button type="button" id="5-3" class="btn btn">3</button></td>
						<td><button type="button" id="5-4" class="btn btn">4</button></td>
						<td><button type="button" id="5-5" class="btn btn">5</button></td>
						<td><button type="button" id="5-6" class="btn btn">6</button></td>
						<td><button type="button" id="5-7" class="btn btn">7</button></td>
						<td><button type="button" id="5-8" class="btn btn">8</button></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>6 ðÿä</td>
						<td></td>
						<td></td>
						<td>Ä</td>
						<td><button type="button"  id="6-1" class="btn btn">1</button></td>
						<td><button type="button"  id="6-2" class="btn btn">2</button></td>
						<td><button type="button" id="6-3" class="btn btn">3</button></td>
						<td><button type="button" id="6-4" class="btn btn">4</button></td>
						<td><button type="button" id="6-5" class="btn btn">5</button></td>
						<td><button type="button" id="6-6" class="btn btn">6</button></td>
						<td><button type="button" id="6-7" class="btn btn">7</button></td>
						<td><button type="button" id="6-8" class="btn btn">8</button></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td>7 ðÿä</td>
						<td></td>
						<td><button type="button" id="7-1" class="btn btn">1</button></td>
						<td><button type="button" id="7-2" class="btn btn">2</button></td>
						<td><button type="button" id="7-3" class="btn btn">3</button></td>
						<td><button type="button" id="7-4" class="btn btn">4</button></td>
						<td><button type="button" id="7-5" class="btn btn">5</button></td>
						<td><button type="button" id="7-6" class="btn btn">6</button></td>
						<td><button type="button" id="7-7" class="btn btn">7</button></td>
						<td><button type="button" id="7-8" class="btn btn">8</button></td>
						<td><button type="button" id="7-9" class="btn btn">9</button></td>
						<td><button type="button" id="7-10" class="btn btn">10</button></td>
						<td><button type="button" id="7-11" class="btn btn">11</button></td>
						<td><button type="button" id="7-12" class="btn btn">12</button></td>
					</tr>
					<tr>
						<td>8 ðÿä</td>
						<td></td>
						<td><button type="button" id="8-1"  class="btn btn">1</button></td>
						<td><button type="button" id="8-2" class="btn btn">2</button></td>
						<td><button type="button" id="8-3" class="btn btn">3</button></td>
						<td><button type="button" id="8-4" class="btn btn">4</button></td>
						<td><button type="button" id="8-5" class="btn btn">5</button></td>
						<td><button type="button" id="8-6" class="btn btn">6</button></td>
						<td><button type="button" id="8-7" class="btn btn">7</button></td>
						<td><button type="button" id="8-8" class="btn btn">8</button></td>
						<td><button type="button" id="8-9" class="btn btn">9</button></td>
						<td><button type="button" id="8-10" class="btn btn">10</button></td>
						<td><button type="button" id="8-11" class="btn btn">11</button></td>
						<td><button type="button" id="8-12" class="btn btn">12</button></td>
					</tr>
				</tbody>
			</table>
		</form>
		</div><div class="container" >

	 <div class="row" >
	 	<div class="col-md-offset-4 col-md-5">
			 		<div class="tab" role="tabpanel">
			 <!-- Nav tabs -->
		 			<ul class="nav nav-tabs" role="tablist">
		 				<li href="#demo3" data-toggle="collapse">Buy</li>
		 			</ul>


		           </div>
		 <div id="demo3" class="collapse" class="btn-group" >
		 						<div class="form-group">
		 							<label>Email address (Your ticket and instruction will be sent to it )
		 							</label>
		 							<input type="email" class="form-control" >
		 						</div>
		 						<div class="form-group">
		 							<label>Phone number(An electronic ticket will send to it)</label>
		 							<input type="text" class="form-control" >
		 						</div>
		 						<div class="form-group">
		 							<label>Choose a form of payment: </label>
		 							<div class="main-checkbox">
		 								<input value="None" id="checkbox1" name="check" type="radio">
		 									<label for="checkbox1"><span class="text">Kaspi Gold </span></label>
		 							</div>

		 							<div class="main-checkbox">
		 								<input value="None" id="checkbox2" name="check" type="radio">
		 									<label for="checkbox1"><span class="text">Visa</span></label>
		 							</div>

		 							<div class="main-checkbox">
		 								<input value="None" id="checkbox3" name="check" type="radio">
		 									<label for="checkbox1"> <span class="text">Halyk Bank </span></label>
		 							</div>
								</div>
								<div class="form-group">
		 							<label>Choose a type of ticket: </label>
		 							<div class="main-checkbox">
		 								<input value="None" id="ticket1" name="check" type="checkbox">
		 									<label for="ticket1"><span class="text">Adult </span></label>
		 							</div>

		 							<div class="main-checkbox">
		 								<input value="None" id="ticket2" name="check" type="checkbox">
		 									<label for="ticket1"><span class="text">Student</span></label>
		 							</div>

		 							<div class="main-checkbox">
		 								<input value="None" id="ticket3" name="check" type="checkbox">
		 									<label for="ticket1"> <span class="text">Child </span></label>
		 							</div>
								</div>

		 						<div class="form-group">
			 							<button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#pay">Pay </button>
		 						</div>

		 					</form>
		 				</div>

		 		</div>
		 </div>
		</div><!-- /.col-md-offset-3 col-md-6 -->
	</div><!-- /.row -->
</div><!-- /.container -->

<!-- <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-labelledby="Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><i class="fas fa-exclamation-triangle"> </i>    Attention</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	       <h6>The administration of the cinema can change the beginning of the movie show, ticket prices and discounts. Please , check the information by phone. </h6>
			 <br> <br>
	         <p >200 tg was withdrawn from you</p>
	         <p >We wish you a pleasant viewing !  </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close </button>
      </div>
    </div>
  </div>
</div> -->
<script type="text/javascript">
			// $('.btn').click(function(){
 		// 		 $(".block_with_text").fadeToggle(100);
			// 	});

           // function viewDiv(){
           //     document.getElementById("div1").style.display = "block";
           // };
			// $("button").click(function(){
		 //    $("button").removeClass("active");
		 //    $(this).addClass("active");
			// });
   //          $('.checkbox').change(function(){
			//     $('input[name="' + $(this).attr('name') +'"]').removeAttr('checked');
			//     $(this).prop('checked', true);
			// });
			$( "button#8-12" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-11" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-10" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-9" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-8" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-7" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-6" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-5" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-4" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-3" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-2" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#8-1" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-12" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-11" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-10" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-9" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-8" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-7" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-6" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-5" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-4" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-3" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-2" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#7-1" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#6-8" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#6-7" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#6-6" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#6-5" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#6-4" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#6-3" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#6-2" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#6-1" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#5-8" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#5-7" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#5-6" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#5-5" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#5-4" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#5-3" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#5-2" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#5-1" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#4-8" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#4-7" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#4-6" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#4-5" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#4-4" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#4-3" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#4-2" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#4-1" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#3-8" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#3-7" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#3-6" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#3-5" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#3-4" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#3-3" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#3-2" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#3-1" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#2-8" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#2-7" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#2-6" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#2-5" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#2-4" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#2-3" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#2-2" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#2-1" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#1-8" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#1-7" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#1-6" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#1-5" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#1-4" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#1-3" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#1-2" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
			$( "button#1-1" ).click(function() {
			  $(this).toggleClass( "selected" );
			});
		</script>

		<style type="text/css">
			h6 {
    font-family: Verdana, Arial, Helvetica, serif; /* Øðèôò ñ çàñå÷êàìè */
    font-style: oblique ; /* Êóðñèâíîå íà÷åðòàíèå */
    color: #92210B;
    text-align: center;
}

p {
   font-family: 'Times New Roman', Times, serif; /* Øðèôò ñ çàñå÷êàìè */
   font-style: italic; /* Êóðñèâíîå íà÷åðòàíèå */
   color: #0D4429;
   text-align: center;
}
 h4 {
     font-family: Verdana, Arial, Helvetica, serif; /* Øðèôò ñ çàñå÷êàìè */
     font-style: oblique ; /* Êóðñèâíîå íà÷åðòàíèå */
     text-align: center;
     margin-top: 40px;
}
.button {
    font-family: Calibri, sans-serif;
    font-size:13px;
    font-weight: bold;
    width: 160px;
    height: 25px;
    background:grey;
    color: white
}
.selected {
    color: white;
    background:green
}
button#cssColorChange:active{
    color: white;
    background:red
}

table {
    width: 600px; /* Øèðèíà òàáëèöû */
    border: 0px; /* Ðàìêà âîêðóã òàáëèöû */
    margin: auto ; /* Âûðàâíèâàåì òàáëèöó ïî öåíòðó îêíà  */
    margin-top: 40px;
}
td {
    text-align: center;
}

#div1{
  display: none;
}

body {
    margin: 10; /* Óáèðàåì îòñòóïû */
    height: 100%; /* Âûñîòà ñòðàíèöû */
    width: 100%;
    /*background: linear-gradient(#1A070B,#3E3638);*/
}






		</style>
</body>
</html>
