<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'history_of_user.css' %}">
  </head>
  <body>
<!------ Include the above in your HEAD tag ---------->

      <section class="section-spacing text-center" id="features">
         <div class="container">
            <header class="section-header">
               <h2>History of Temirlan</h2>
               <h3>Надо заполнить так по дате будет кретаивно на окошках будет фотка и название фильма и ссылка к ним</h3>
               <h4></h4>
            </header>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12">
                     <ul class="timeline">
                        <li class="timeline wow bounceInUp">
                           <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                           <div class="date-info">
                              <span class="day">29</span><span class="month"> Jan</span><span class="year"> 2017</span>
                           </div>
                           <div class="timeline-panel">
                              <div class="timeline-heading">
                                 <h6 class="timeline-title">Version 1.0.2 Released with user identified fixes/enhancements</h6>
                              </div>
                              <div class="timeline-body">
                                 <p>
                                    Release highlights :
                                    Layout changed inline with other Cartwheel applications. (Menu based and full-screen).
                                    Introduced filters and sorting of Actions items.
                                    Print facility to support printing of any saved reports (including previous reports)
                                 </p>
                              </div>
                           </div>
                        </li>
                        <li class="timeline-inverted wow bounceInUp">
                           <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                           <div class="date-info">
                              <span class="day">04</span><span class="month"> Feb</span><span class="year"> 2017</span>
                           </div>
                           <div class="timeline-panel">
                              <div class="timeline-heading">
                                 <h6 class="timeline-title">Version 1.0.2 Released with user identified fixes/enhancements</h6>
                              </div>
                              <div class="timeline-body">
                                 <p>
                                    Release highlights :
                                    Layout changed inline with other Cartwheel applications. (Menu based and full-screen).
                                    Introduced filters and sorting of Actions items.
                                    Print facility to support printing of any saved reports (including previous reports)
                                 </p>
                              </div>
                           </div>
                        </li>
                        <li class="timeline-inverted wow bounceInUp">
                           <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                           <div class="date-info">
                              <span class="day">31</span><span class="month"> Jan</span><span class="year"> 2016</span>
                           </div>
                           <div class="timeline-panel">
                              <div class="timeline-heading">
                                 <h6 class="timeline-title">Version 1.0.2 Released with user identified fixes/enhancements</h6>
                              </div>
                              <div class="timeline-body">
                                 <p>
                                    Release highlights :
                                    Layout changed inline with other Cartwheel applications. (Menu based and full-screen).
                                    Introduced filters and sorting of Actions items.
                                    Print facility to support printing of any saved reports (including previous reports)
                                 </p>
                              </div>
                           </div>
                        </li>
                        <li class="timeline-inverted wow bounceInUp">
                           <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                           <div class="date-info">
                              <span class="day">25</span><span class="month"> Jan</span><span class="year"> 2016</span>
                           </div>
                           <div class="timeline-panel">
                              <div class="timeline-heading">
                                 <h6 class="timeline-title">Version 1.0.2 Released with user identified fixes/enhancements</h6>
                              </div>
                              <div class="timeline-body">
                                 <p>
                                    Release highlights :
                                    Layout changed inline with other Cartwheel applications. (Menu based and full-screen).
                                    Introduced filters and sorting of Actions items.
                                    Print facility to support printing of any saved reports (including previous reports)
                                 </p>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
  </body>
</html>
