
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %} My site {% endblock %}</title>  <meta charsetutf-8">
  <meta name="viewp="ort" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	{% load staticfiles %}

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		 <link rel="stylesheet" href="{% static 'kinoq.css' %}">
		  <link rel="stylesheet" href="{% static 'style.css' %}">
	   <!--  <base target="_blank"> -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	</head>

	<body>
		 <br><br><br><br>
	<nav class ="navbar navbar-expand-md navbar-inverse fixed-top navbar-light bg-light" id="header">
	  <div class="container-fluid">


		<a href="#" class="navbar-brad"><img class = "navbar-brad-image" src ="{% static 'LOGO.JPG' %}" ></a>
		{%if not request.user.is_authenticated %}
		<span class = "font-weight-bolder text-danger">Hi Movie Fun</span>
		{% else %}
		<span class = "font-weight-bolder text-danger">Hi {{request.user.username}}</span>

		{% endif %}



		<button class ="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class ="navbar-toggler-icon"></span>
		<span class ="icon"></span>
		<span class ="icon"></span>
		</button>
		<div class="collapse navbar-collapse" id ="navbarResponsive">
		  <ul class="navbar-nav ml-auto dropdown-menu-right ">
			<li class ="nav-item active dropdown">
			  <a class="nav-link dropdown" href="#"   data-toggle="dropdown" >
		  See a movie
		  <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" href="#">Horror</a>
			<a class="dropdown-item" href="#">DramaDrama</a>
			<a class="dropdown-item" href="#">Melodrama</a>
			<a class="dropdown-item" href="#">Comedy</a>
		  </div>
		  </a></li>
			<li class ="nav-item active dropdown">
			<a class="nav-link dropdown" href="#"   data-toggle="dropdown" >
			Cinemas
			<div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
			  {% for cinem in cinema%}
			  <a class="dropdown-item" href="{% url 'cinema_view' cinem.cinema_name %}" >{{cinem.cinema_name}} </a>
			  {% endfor %}
			</div>
			</a>
		  </li>
			<li class ="nav-item active dropdown">
				  <a class="nav-link dropdown" href="#"   data-toggle="dropdown" >
					Jenre
					<div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
					  {% for jenr in jenres%}
					  <a class="dropdown-item" href="{% url 'jenre_view' jenr.jenre %}">{{jenr.jenre}}</a>
					  {% endfor %}
					</div>
				  </a>
			</li>
			<li class ="nav-item active"><a href="#" class = "nav-link">On demand</a></li>
			<li class ="nav-item active"><a href="#" class = "nav-link">Download app</a></li>
			<form class="form-inline active-cyan-4"  action="{% url 'search' %}" id = "SearchForm" style="margin-right:230px" method="post">
			  <div class="form-group has-search">
				<span class="fa fa-search form-control-feedback"></span>
				{% csrf_token %}
				<input type="text" class="form-control" placeholder="Search" name="searched_text" id="search" >
			  </div>
			</form>
			<div class="">

				{%if not request.user.is_authenticated %}
				<a  href="{% url 'auto'%}">
				<button  type="submit" class="btn btn-success">Sign In</button>
				</a>
				{% else %}
				<a  href="{% url 'logout'%}">
				  <button  type="submit" class="btn btn-success">Log Out</button>
				</a>
				{% endif %}

			</div>
		  </ul>

		</div>
	</div>
	</nav>
		<div class="container-fluit padding" >
		  <div class="row alert text-center">
			<div class="col-12">
			  <div class="card">
				<h1 class = "display">Cinemas</h1>
			  </div>
			</div>
		  </div>
		</div>

		<div class="container">
			<div class="row">
			   <div class="col-md-12">
				   <div class="tab" role="tabpanel">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab" ><i class="far fa-calendar"></i>  Today </a></li>
							<li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"> <i class="far fa-calendar"></i>  Tomorrow</a></li>
							<li role="presentation"><a href="#Section3" aria-controls="profile" role="tab" data-toggle="tab"><i class="far fa-calendar-alt"></i>  Soon</a></li>
						</ul>
						<div class="tab-content tabs">
							<div role="tabpanel" class="tab-pane fade in active" id="Section1">
								<div class="table-responsive">
								   <table class="table table-borderless table-hover">
									 <tbody>
										 <tr href="#demo" data-toggle="collapse" >
											<th scope="row"></th>
											<td>9.0 <i class="far fa-star"></i> </td>
											<td>Bekmambetov</td>
											<td>5 films</td>
											<td>5 seansov</td>
											<td><i class="fas fa-phone"></i>  +7 700 693 15 33</td>
										 </tr>
									 </tbody>
								   </table>
								</div>
								<div id="demo" class="collapse" class="btn-group" >
									<table class="table table-borderless table-hover">
										<p><i class="fab fa-linux"></i><a href="{% url 'info'%}" class="text-dark"> More info  about this cinema</a></p>
									<tbody><tr>
									<th scope="row"></th>
									<td>Аббатство Даунтон</td>
									<td>
									   <button type="button" class="btn btn-light btn-sm"><a href="#" class="text-dark" >11:55 </a> </button>
									   <button type="button" class="btn btn-light btn-sm"> <a href="#" class="text-dark" >14:10 </a></button>
									   <button type="button" class="btn btn-light btn-sm"> <a href="#" class="text-dark" >16:30 </a></button>
									   <button type="button" class="btn btn-light btn-sm"> <a href="#" class="text-dark" >18:50 </a></button>
									   <button type="button" class="btn btn-light btn-sm"> <a href="#" class="text-dark" >21:20 </a></button>
									</td>
									</tr>
									<tr>
									  <th scope="row"></th>
									  <td>Эверест </td>
									  <td>
										 <button type="button" class="btn btn-light btn-sm"><a href="#" class="text-dark" >10:30 </a> </button>
										 <button type="button" class="btn btn-light btn-sm"> <a href="#" class="text-dark" >15:10 </a></button>
										 <button type="button" class="btn btn-light btn-sm"> <a href="#" class="text-dark" >17:40 </a></button>
										 <button type="button" class="btn btn-light btn-sm"> <a href="#" class="text-dark" >19:10 </a></button>
										 <button type="button" class="btn btn-light btn-sm"> <a href="#" class="text-dark" >20:20 </a></button>
									 </td>
									</tr>

									</tbody>
									</table>
								</div>
								<div class="table-responsive">
								   <table class="table table-borderless table-hover">
									 <tbody>
										 <tr href="#demo2" data-toggle="collapse">
											<th scope="row"></th>
											<td>8.0 <i class="far fa-star"></i> </td>
											<td>Atrium</td>
											<td>5 films</td>
											<td>5 seansov</td>
											<td><i class="fas fa-phone"></i>  +7 700 693 15 33</td>
										 </tr>
									 </tbody>
								   </table>
								</div>
								<div id="demo2" class="collapse" class="btn-group" >
									<table class="table table-borderless table-hover">

										<p><i class="fab fa-linux"></i><a href="{% url 'info'%}" class="text-dark"> More info  about this cinema</a></p>
										<tbody>
											<tr>
												<th scope="row"></th>
												<td>Аббатство Даунтон</td>
												<td>
												   <button type="button" class="btn btn-sm btn-light" data-toggle="popover" data-placement="top" title="<table style='color:#2F523E'  tr><th></th> <td>  Adult: 1400 tg</td><td>   Student: 1000 tg</td><td>  Child: 800 tg </td> <td> VIP   no </td></tr></table>" data-content="  <button type='button' class='btn  btn-warning btn-sm'> <a href='{% url 'booking' %}' class='text-dark' >buy tickets </a></button>"
													 data-html="true">11:55 </button>
												   <button type="button" class="btn btn-sm btn-light" data-toggle="popover" data-placement="top" title="<table style='color:#2F523E'  tr><th></th> <td>  Adult: 1400 tg</td><td>   Student: 1000 tg</td><td>  Child: 800 tg </td> <td> VIP   no </td></tr></table>" data-content="  <button type='button' class='btn  btn-warning btn-sm'> <a href='{% url 'booking' %}' class='text-dark' >buy tickets </a></button>"
													 data-html="true">14:10</button>
												   <button type="button" class="btn btn-sm btn-light" data-toggle="popover" data-placement="top" title="<table style='color:#2F523E'  tr><th></th> <td>  Adult: 1400 tg</td><td>   Student: 1000 tg</td><td>  Child: 800 tg </td> <td> VIP   no </td></tr></table>" data-content="  <button type='button' class='btn  btn-warning btn-sm'> <a href='{% url 'booking' %}' class='text-dark' >buy tickets </a></button>"
													 data-html="true">16:30 </button>
												   <button type="button" class="btn btn-sm btn-light" data-toggle="popover" data-placement="top" title="<table style='color:#2F523E'  tr><th></th> <td>  Adult: 1400 tg</td><td>   Student: 1000 tg</td><td>  Child: 800 tg </td> <td> VIP   no </td></tr></table>" data-content="  <button type='button' class='btn  btn-warning btn-sm'> <a href='{% url 'booking' %}' class='text-dark' >buy tickets </a></button>"
													 data-html="true">18:50 </button>

												   <button type="button" class="btn btn-sm btn-light" data-toggle="popover" data-placement="top" title="<table style='color:#2F523E'  tr><th></th> <td>  Adult: 1400 tg</td><td>   Student: 1000 tg</td><td>  Child: 800 tg </td> <td> VIP   no </td></tr></table>" data-content="  <button type='button' class='btn  btn-warning btn-sm'> <a href='{% url 'booking' %}' class='text-dark' >buy tickets </a></button>"
													 data-html="true">21:20</button>
												</td>
											</tr>
											<tr>
												<th scope="row"></th>
												<td>Эверест </td>
												<td>
													 <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-content="And here's some amazing content. It's very engaging. Right?">10:30</button>

													 <button type="button" class="btn btn-sm btn-light" data-toggle="popover" data-placement="top" title="<table style='color:#2F523E'  tr><th></th> <td>  Adult: 1400 tg</td><td>   Student: 1000 tg</td><td>  Child: 800 tg </td> <td> VIP   no </td></tr></table>" data-content="  <button type='button' class='btn  btn-warning btn-sm'> <a href='{% url 'booking' %}' class='text-dark' >buy tickets </a></button>"
													 data-html="true">15:10</button>


													 <button type="button" class="btn btn-sm btn-light" data-toggle="popover" data-placement="top" title="<table style='color:#2F523E'  tr><th></th> <td>  Adult: 1400 tg</td><td>   Student: 1000 tg</td><td>  Child: 800 tg </td> <td> VIP   no </td></tr></table>" data-content="  <button type='button' class='btn  btn-warning btn-sm'> <a href='{% url 'booking' %}' class='text-dark' >buy tickets </a></button>"
													 data-html="true">17:40 </a></button>
													 <button type="button" class="btn btn-sm btn-light" data-toggle="popover" data-placement="top" title="<table style='color:#2F523E'  tr><th></th> <td>  Adult: 1400 tg</td><td>   Student: 1000 tg</td><td>  Child: 800 tg </td> <td> VIP   no </td></tr></table>" data-content="  <button type='button' class='btn  btn-warning btn-sm'> <a href='{% url 'booking' %}' class='text-dark' >buy tickets </a></button>"
													 data-html="true">19:10 </a></button>
													 <button type="button"    data-html="true"
class="btn btn-sm btn-light" data-toggle="popover" data-placement="top" title="<table style='color:#2F523E'  tr><th></th> <td>  Adult: 1400 tg</td><td>   Student: 1000 tg</td><td>  Child: 800 tg </td> <td> VIP   no </td></tr></table>" data-content="  <button type='button' class='btn  btn-warning btn-sm' onclick=#22> <a href='{% url 'booking' %}' class='text-dark' >buy tickets </a></button>"
													 data-html="true">20:20 </a></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="Section2">
								<p>later</p>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="Section3">
								<p>very very</p>
							</div>
							</div>

						</div>
					</div>
				</div><!-- /.col-md-offset-3 col-md-6 -->
			</div><!-- /.row -->
		</div><!-- /.container -->

		<footer class="container-fluid">
		  <div class="container">
			<div class="row padding text-center">
			  <div class="col-12">
				<h2>Our Contacts</h2>
			  </div>
			  <div class="col-12 social padding">
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-google-plus-g"></i></a>
			  </div>
			</div>
		  </div>
		</footer>

	<script>


$('[data-toggle="popover"]').popover({html: true, container: 'body'});

	$('[data-toggle="popover"]').click(function (e) {
		e.preventDefault();
		$('[data-toggle="popover"]').not(this).popover('hide');
		$(this).popover('toggle');
	});

   $('body').on('click', function (e) {
	//did not click a popover toggle or popover
	if ($(e.target).data('toggle') !== 'popover'
		&& $(e.target).parents('.popover.in').length === 0) {
		$('[data-toggle="popover"]').popover('hide');
	}
});
	</script>

	</body>

</html>
