{% extends "article/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block style %}   <link rel="stylesheet" href="{% static 'buttons.css' %}">{% endblock style %}
{% block content %}
<br><br>
<h2>{{ movie.movie_name }}</h2>
<div class="row">
<div class="col-sm-6 col-lg-4">
  <img src="{{movie.move_img.url}}" class="card-img-top">
</div>
<div class="col-sm-1 col-lg-1"></div>
<div class="col-sm-5 col-lg-6" style="font-size:20px">
      <h3>Story</h3>
      <p> {{movie.movie_explain|safe|linebreaks}} </p>
      <p>
              <strong>Название: </strong>{{ movie.movie_name }}<br>
              <strong>Год выпуска: </strong>{{movie.movie_article_date}}<br>
              <br>
              <strong>Жанр: </strong>

            {% for genre in movie.movie_genre.all %}
            {{genre}}
            {% endfor %}
              <br>
              <strong>Продолжительность: </strong>{{movie.movie_duration}} мин.<br>
          </p>
          <p>
            <strong>Режиссер: </strong>Turukabeyev Zamanbek<br>
            <strong>В ролях: </strong>Oyazbaev Temirlan, Kakibay Nurdan, Kurmanbeyeva Talshyn<br>
            </p>
              <!-- {% url 'buyticket' movie.movie_name %} -->
                {%if not request.user.is_authenticated %}
              <button type="button" class="btn btn-outline-dark"  data-toggle="modal"  onclick="myFunction()" data-target="#BUY" style="width:200px; height=100px; margin-left:200px;">{{movie.movie_price}} tg ahah</button>
                {% else %}
              <button type="button" class="btn btn-outline-dark"   style="width:200px; height=100px; margin-left:200px;" data-toggle="collapse" data-target="#collapseExample">{{movie.movie_price}} tg</button>
              <div class="collapse" id="collapseExample" style="margin-top:30px;">
                <div class="card card-body">
                  <ul class="list-group" style="margin-bottom: 50px;"> Cinemas
                    {% for cinema in movie.movie_cinema.all %}

                      <li class="list-group-item" data-toggle="collapse" data-target="#collapse{{cinema.cinema_name}}">{{cinema.cinema_name}} </li>
                      <div class="collapse" id="collapse{{cinema.cinema_name}}" style="margin-top:30px;">
                        <h5>Rooms:</h5>
                    <div class="row">
                    {% for room in movie.room_set.all %}
                      <form  action="{% url 'booking' cinema.cinema_name %}"  style = "width:50px; heigth:50px;"method="post">
                      {% csrf_token %}
                      <input type="hidden" name="username" value="{{user.username}}">
                      <input type="hidden" name="movie_name" value="{{movie.movie_name}}">
                      {% if room.of_cinema == cinema %}
                      <input type="hidden" name="room" value="{{room.id}}">
                      <button type="submit" name="button" style="border-radius:3px; width:40px; heigth:10px; margin-bottom:10px; background-color:red;">{{room.name}}</button>
                      {% endif %}
                    </form>
                    {% endfor %}
                      </div>
                      </div>
                    {% endfor %}
                  </ul>
                </div>
              </div>
                {% endif %}

</div>
</div>

<!-- <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p> -->


<div class="modal fade"  id="BUY" tabindex="-1" role="dialog" aria-labelledby="Title" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Сделайте регистрацию и мы можем вам предложить лучшие фильмы подходящее для вас</h5>
      </div>
        <div class="modal-footer">
          <a href="{% url 'registration'%}"><button class="btn btn-danger" >Sign up</button></a>
          <button class="btn btn" data-dismiss="modal">Later </button>
        </div>
    </div>
  </div>
</div>
<br><br><br><br>
<h3 class="container title-comments">Trailer</h3>
<div class="container-fluid">
    <iframe width="760" height="415" id="youtube" src="{{movie.movie_trailer_url}}"  style="margin-left:350px" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class = "container">
  <p> Rating: {{movie.movie_rating}} </p>
</div>

{%if request.user.is_authenticated %}
{% if rating %}
  <p class="container">Your Mark: {{rating.rating}}</p>
{% else %}
<div class="container">
			<form method="post" action="{% url 'set_rating' movie.id%}">
				{% csrf_token %}
        <inputx type="radio" name="new_rating" value="1">
				<input  type="radio" name="new_rating" value="2">
				<input  type="radio" name="new_rating" value="3">
				<input  type="radio" name="new_rating" value="4">
				<input type="radio" name="new_rating" value="5">
				<input type="radio" name="new_rating" value="6">
				<input type="radio" name="new_rating" value="7">
				<input type="radio" name="new_rating" value="8">
				<input type="radio" name="new_rating" value="9">
				<input type="radio" name="new_rating" value="10">
				<input type="submit" value="Оценить">
			</form>
</div>
{% endif %}
{% endif %}
<hr align="center" width="1000" color="Red" />
<div class="comments container">
    <h3 class="title-comments">Комментарии ({{movie.comment_set.count}}) </h3>
      {% for comment in movie.comment_set.all %}
    <div class="media-body">
        <div class="panel panel-info">
          <div class="panel-heading">
              <div class="author">{{comment.of_user.username}}</div>
              <div class="metadata">
                  <time>={{comment.comment_date}}</time>
              </div>
          </div>
          {% if comment.is_heiter == True%}
<div class="panel-body" id = "CommentsBad" style="font-size:20px">
    <div class="media-text text-justify">

        {{comment.comment_text}}

    </div>
</div>
          {% else %}

<div class="panel-body" id = "CommentGood" style="font-size:20px">
    <div class="media-text text-justify">
        {{comment.comment_text}}
    </div>
</div>
          {% endif %}
</div>
</div>
      {% endfor %}
</div>
<div class="container">
  {% if request.user.is_authenticated %}
  <br>
  <form  action="{% url 'set_comment' movie.movie_name %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="idofComment">Leave your comment about movie</label>
        <textarea class="form-control" name="comment_text" id="field" rows="8" cols="80"  id="idofComment"onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"></textarea>
        <input type="hidden" name="username" value="{{user.username}}">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="idofCheck" name="heiter" value="False">
        <label class="form-check-label" for="idofCheck">Positive review?</label>
      </div>
      <br><button type="submit" class="btn btn-primary" style="align:center" id="submitt">Submit</button>
  </form>
  {% else %}
  <h3>To leave a comment you need to register</h3>
  {% endif %}
</div>

<!-- <script>
function myFunction() {
    $('#BUY').modal("show");
}
</script> -->

{% endblock %}
{% block jQuery%}
<script type="text/javascript">
  if($("#submitt")).modal('show'){
    if($("#field").val().trim().length < 10)
    {
        alert("Please Enter Text...");
        return;
    }
}
</script>



{% endblock jQuery %}
