.button {
    font-family: Calibri, sans-serif;
    font-size:13px;
    font-weight: bold;
    width: 160px;
    height: 25px;
    background:grey;
    color: white
}
.selected {
    color: white;
    background:green;
}
button#cssColorChange:active{
    color: white;
    background:red
}

table {
    width: 600px; /* Ширина таблицы */
    border: 0px; /* Рамка вокруг таблицы */
    margin: auto ; /* Выравниваем таблицу по центру окна  */
    margin-top: 100px;
}
td {
    text-align: center; Выравниваем текст по центру ячейки
}
hr.style18 {
  width:500px;
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 5px 2px 0 3px;
  border-radius: 20px;
}
/* hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: 35px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 5px 3px;
  border-radius: 60px;
} */
